<h2>Eventos</h2>
<hr>
<div class="row row-cols-lg-auto g-3 align-items-center">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <label class="col-form-label me-2">Filtro:</label>
      <input 
      type="text" 
      class="form-control mb-3" 
      placeholder="buscar" 
      [(ngModel)]="filtroLista"
      />
    </div>
  </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->
<table class="table">
  <thead class="table-dark">
    <tr>
      <th class="text-left" scope="col">
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
          <i class="{{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!exibirImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th class="text-left" scope="col">#</th>
      <th class="text-left" scope="col">Tema</th>
      <th class="text-left" scope="col">Local</th>
      <th class="text-left" scope="col">Data</th>
      <th class="text-left" scope="col">Qtd Pessoas</th>
      <th class="text-left" scope="col">Lote</th>
      <th class="text-left" scope="col">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td class="text-left">
        <img [collapse]="!exibirImagem"
          [isAnimated]="true" 
          src="/assets/{{evento.imagemURL}}" alt=""
          [style.width.px]="larguraImagem"
          [style.margin.px]="margemImagem">
      </td>
      <th class="text-left" scope="row">{{evento.id}}</th>
      <td class="text-left">{{evento.tema}}</td>
      <td class="text-left">{{evento.local}}</td>
      <td class="text-left">{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td class="text-left">{{evento.qtdPessoas}}</td>
      <td class="text-left">{{evento.lotes[0].nome | uppercase}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-2" tooltip="Editar" 
                alt="Edit Icon">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" 
                alt="Trash Icon">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
